.report-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    overflow-y: auto;
}

.report-container .button-wrap {
    width: 100%;
}